@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
  --background-color: #f0f0f0;
  --font-family: Arial, sans-serif;
  --profile-photo-height: 300px;
  --skills-bar-height: 10px;
  --skills-bar-border-radius: 5px;
  --primary-color: #9cb804;
  --bs-border-radius: 1rem;
  --skills-bar-fill-color: var(--primary-color, #4caf50);
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
}

.text-primary {
  color: var(--primary-color) !important;
}

.bg-primary {
  background: var(--primary-color) !important;
}

.profile-photo {
  background: url(../img/profile_photo.jpg) no-repeat;
  background-size: cover;
  height: var(--profile-photo-height);
}

.skills-bar {
  position: relative;
  width: 100%;
  background-color: var(--skills-bar-bg-color);
  border-radius: var(--skills-bar-border-radius);
}

.skills-bar span {
  width: 0;
  display: block;
  background-color: var(--skills-bar-fill-color);
  height: var(--skills-bar-height);
  border-radius: var(--skills-bar-border-radius);
  transition: width 2s ease-in-out;
}

ul.list-unstyled li i {
  margin-right: 1rem;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color, #4caf50);
  border-radius: 10px;
  border: 5px solid #fff;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

scrollbar {
  width: 1rem;
  height: 1rem;
}

scrollbar-thumb {
  background-color: var(--primary-color, #4caf50);
  border-radius: 10px;
  border: 5px solid #fff;
}

scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollbar {
  width: 1rem;
  height: 1rem;
  scrollbar-face-color: var(--primary-color, #4caf50);
  scrollbar-base-color: #f1f1f1;
  scrollbar-highlight-color: #fff;
  scrollbar-shadow-color: #fff;
  scrollbar-3dlight-color: #fff;
}

::selection {
  background-color: var(--primary-color, #4caf50);
  color: #fff;
}

::-moz-selection {
  background-color: var(--primary-color, #4caf50);
  color: #fff;
}

::after,
::before {
  color: inherit;
}
